.dashboard-container {
  display: flex;
  min-height: 100vh;
}

section {
  margin-bottom: 40px;
}
/* Contenitore del carosello */
.carousel-container {
  position: relative;
  overflow: visible;
}

/* Griglia scrollabile */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  row-gap: 28px;
  column-gap: 28px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
}

/* Nascondi la scrollbar nativa */
.cards-grid::-webkit-scrollbar {
  display: none;
}

/* Frecce di navigazione */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px var(--card-shadow);
  z-index: 10;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-arrow svg {
  width: 12px;
  height: 12px;
}

.carousel-arrow:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.carousel-arrow.left {
  left: -15px;
}

.carousel-arrow.right {
  right: -15px;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--card-shadow);
  padding: 8px 0;
  transition: box-shadow 0.3s ease;
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 20px var(--hover-shadow);
}

.cards-grid .card {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-content {
  padding: 28px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.card-title {
  font-weight: bold;
  color: var(--card-title-icon-color);
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.card-title .deadline-icon {
  font-size: 1.8rem;
  width: 26px;
  height: 26px;
  margin-right: 16px;
  color: var(--card-title-icon-color);
}

.card-type {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 16px;
  color: var(--white);
}

.salute-type {
  background-color: var(--salute-color);
  color: var(--salute-text-color);
}

.garage-type {
  background-color: var(--garage-color);
  color: var(--garage-text-color);
}

.casa-type {
  background-color: var(--casa-color);
  color: var(--casa-text-color);
}

.documenti-type {
  background-color: var(--documenti-color);
  color: var(--documenti-text-color);
}

.personale-type {
  background-color: var(--personale-color);
  color: var(--personale-text-color);
}

.lavoro-type {
  background-color: var(--lavoro-color);
  color: var(--lavoro-text-color);
}

.altro-type {
  background-color: var(--altro-color);
  color: var(--altro-text-color);
}

.card-body .due-date {
  font-size: 1.4rem;
  color: currentColor;
  margin-bottom: 16px;
  font-weight: bold;
}

.card-body .description {
  font-size: 1.1rem;
  color: var(--card-description-color);
}

.card-gradient-1 {
  border-left: 6px solid var(--card-gradient-first);
}

.card-gradient-2 {
  border-left: 6px solid var(--card-gradient-second);
}

.card-gradient-3 {
  border-left: 6px solid var(--card-gradient-third);
}

.card-gradient-4 {
  border-left: 6px solid var(--card-gradient-fourth);
}

.card.placeholder-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed var(--secondary-color);
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 100%;
  min-height: 200px;
}

.placeholder-content {
  color: currentColor;
  transition: color 0.3s ease;
}

.placeholder-content .icon {
  font-size: 3rem;
}

.placeholder-content .add-deadline-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
}

.placeholder-card:hover,
.placeholder-card:focus {
  color: var(--action-buttons-border-color);
}

/* Other Deadlines Section */
.deadlines-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.deadlines-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.deadlines-filter div {
  height: 54px;
}

.search-input {
  position: relative;
}

.search-input input[type="text"] {
  padding: 14px 42px 14px 20px;
  outline: none;
  border: 1px solid var(--secondary-color);
  background-color: var(--white);
  border-radius: 10px;
  font-size: 1.1rem;
  width: 250px;
  height: 100%;
  padding-left: 42px;
  color: currentColor;
}

.search-input input[type="text"]::placeholder {
  color: var(--filter-placeholder-text-color);
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
  pointer-events: none;
}

.clear-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color-light);
  cursor: pointer;
  width: 18px;
  height: 18px;
  transition: color 0.1s ease;
}

.clear-icon:hover,
.clear-icon:active {
  color: currentColor;
}

.custom-select {
  position: relative;
  width: 250px;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}

.custom-select:focus {
  outline: none;
}

.custom-select:focus .selected-option {
  background-color: var(--select-hover-color);
}

.option:focus {
  background-color: var(--select-hover-color);
  outline: none;
}

.selected-option {
  padding: 14px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--white);
  color: currentColor;
  position: relative;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.selected-option::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("../../imgs/angle-down-solid.svg");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.selected-option.placeholder {
  color: var(--filter-placeholder-text-color);
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--white);
  z-index: 10;
  list-style: none;
  margin-top: 8px;
  box-shadow: 0 2px 10px var(--hover-shadow);
}

.custom-select.open .options {
  display: block;
}

.option {
  padding: 14px;
  color: currentColor;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: var(--select-hover-color);
}

/* Deadlines Table */
.deadlines-table-container {
  overflow-x: auto;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.deadlines-table {
  table-layout: fixed; /* Fissa la larghezza delle colonne */
  width: 100%;
  border-collapse: collapse;
}

.deadlines-table th,
.deadlines-table td {
  padding: 16px 22px;
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
  color: var(--card-description-color);
}

.deadlines-table th {
  background-color: #f4f7f9;
  font-weight: bold;
}

/* Larghezze specifiche per le colonne */
.deadlines-table th:nth-child(1),
.deadlines-table td:nth-child(1) {
  width: 25%;
}

.deadlines-table th:nth-child(2),
.deadlines-table td:nth-child(2) {
  width: 12%;
}

.deadlines-table th:nth-child(3),
.deadlines-table td:nth-child(3) {
  width: 15%;
}

.deadlines-table th:nth-child(4),
.deadlines-table td:nth-child(4) {
  width: 30%;
}

.deadlines-table th:nth-child(5),
.deadlines-table td:nth-child(5) {
  width: 13%;
}

.deadlines-table th:nth-child(6),
.deadlines-table td:nth-child(6) {
  width: 5%;
}

.deadlines-table thead tr,
.deadlines-table tbody tr {
  height: 64px;
}

.deadlines-table tbody tr:last-child td {
  border-bottom: none;
}

.deadlines-table tbody tr:hover {
  background-color: var(--select-hover-color);
}

.deadline-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.deadline-type {
  font-size: 0.9rem;
  padding: 5px 8px;
  border-radius: 6px;
  width: fit-content;
}

.dots-container {
  display: flex;
  align-items: center;
}

.dots-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.dots-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  box-shadow: 0 -7px 0 var(--text-color-light), 0 7px 0 var(--text-color-light);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dots-container:hover .dots-icon::before,
.dots-container:focus .dots-icon::before {
  background-color: var(--card-description-color);
  box-shadow: 0 -7px 0 var(--card-description-color),
    0 7px 0 var(--card-description-color);
}

.notification-status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin-left: 3px;
}

.notification-status .notification-icon {
  font-size: 1rem;
}

.notification-status.true,
.notification-status.true .notification-icon {
  color: var(--notification-on);
}

.notification-status.false,
.notification-status.false .notification-icon {
  color: var(--notification-off);
}

.no-data {
  padding: 28px;
  text-align: center;
  color: var(--user-icon-placeholder-color);
  height: 64px;
}

.expired-deadline-card {
  background-color: var(--expired-card-background-color);
  border-left: 6px solid var(--expired-card-border-color);
}

.expired-deadline-card .due-date {
  color: var(--expired-card-text-color);
}
